<div class="card">
    <div class="head-card">
        <img src="/logo.png" alt="">
        <div>
            <h2>Carte d'étudiant</h2>
            <h2>Student id</h2>
        </div>
    </div>
  
    <div class="body-card">
        <img src="/image.png" alt="">
        <div>
            <p class="title"> Establishment | Etablissement </p>
            <p>{{ student?.schoolName}}</p>
            <p class="title">Full Name | Nom et Prenom</p>
            <p>{{ student?.fullname }}</p>
            <p class="title">Registration number | Matricule</p>
            <p>{{ student?.id}}</p>
            <p class="title">Personal Bank details | RIB Personnel</p>
            <p>{{ student?.rib}} </p>
        </div>
    </div>
 
 </div>